.select {
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #ffffff;
} 
.product-image {
    width: 350px;
    height: auto;
  }
.price {
    text-decoration: line-through;
}
.discount {
    color: green;
    font-weight: 500;
}
.close-icon {
 position: absolute;
 right: 15px;
 top: -60px;
 width: 40px;
 background: #ffffff;
 border-radius: 50%;
}